@tailwind base;
@tailwind components;
@tailwind utilities;
.vds-captions {
  z-index: 10;
  bottom: 0;
  transition: bottom 0.15s linear;

  /* CSS variables available for customization. */
  /* Remove any you don't need, default values are shown below. */
  --media-captions-padding: 1%;
  --media-cue-backdrop: blur(0px);
  --media-cue-bg: rgba(0, 0, 0, 0);
  --media-cue-border-radius: 2px;
  --media-cue-border: rgb(0, 0, 0, 0);
  text-shadow: rgb(0, 58, 105) 1px 0 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  --media-cue-box-shadow: var(--cue-box-shadow);
  --media-cue-color: white;
  --media-cue-display-bg: unset;
  --media-cue-display-border-radius: unset;
  --media-cue-display-padding: unset;
  --media-cue-font-size: calc(var(--overlay-height) / 100 * 4.5);
  --media-cue-line-height: calc(var(--cue-font-size) * 1.2);
  --media-cue-padding-x: calc(var(--cue-font-size) * 0.6);
  --media-cue-padding-x: calc(var(--cue-font-size) * 0.6);
}
